name: CI

on:
    pull_request:
      types:
        - opened
        - synchronize

permissions: {}

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
    ruby: '3.3.1'

jobs:
    authorize:
      name: Authorize
      environment: ${{ github.event.pull_request.head.repo.fork && 'external' || 'internal' }}
      runs-on: ubuntu-latest
      steps:
        - run: true

    test:
        needs: authorize # Require approval before running on forked pull requests
        name: Test on ${{ matrix.platform.os }} using Xcode ${{ matrix.xcode }}
        environment: ${{ github.event.pull_request.head.repo.fork && 'external' || 'internal' }}
        runs-on: macos-14

        env:
            xcodeproj: SimpleKeychain.xcodeproj

        strategy:
          matrix:
            platform: 
              - { os: iOS, scheme: SimpleKeychain-iOS }
              - { os: macOS, scheme: SimpleKeychain-macOS }
              - { os: tvOS, scheme: SimpleKeychain-tvOS }
            xcode: 
              - '16.1'

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up environment
              uses: ./.github/actions/setup
              with:
                ruby: ${{ env.ruby }}
                xcode: ${{ matrix.xcode }}

            - name: Run tests
              uses: ./.github/actions/test
              with:
                xcode: ${{ matrix.xcode }}
                scheme: ${{ matrix.platform.scheme }}
                platform: ${{ matrix.platform.os }}

            - name: Convert coverage report
              if: ${{ matrix.platform.os == 'iOS' }}
              run: bundle exec slather coverage -x --scheme ${{ matrix.platform.scheme }} ${{ env.xcodeproj }}

            - name: Upload coverage report
              if: ${{ matrix.platform.os == 'iOS' }}
              uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # pin@5.5.1
              with:
                token: ${{ secrets.CODECOV_TOKEN }}

    test-package:
        name: Test Swift package using Xcode ${{ matrix.xcode }}
        runs-on: macos-14

        strategy:
          matrix:
            xcode: 
              - '16.1'

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up environment
              uses: ./.github/actions/setup
              with:
                ruby: ${{ env.ruby }}
                xcode: ${{ matrix.xcode }}

            - name: Run tests
              run: swift test

    pod-lint:
        name: Lint podspec using Xcode ${{ matrix.xcode }}
        runs-on: macos-14-xlarge

        strategy:
          matrix:
            xcode: 
              - '16.1'

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up environment
              uses: ./.github/actions/setup
              with:
                ruby: ${{ env.ruby }}
                xcode: ${{ matrix.xcode }}

            - name: Run pod lib lint
              run: bundle exec pod lib lint --allow-warnings --fail-fast

    swiftlint:
        name: Lint code with SwiftLint
        runs-on: macos-14

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              
            - name: Install SwiftLint
              run: brew install swiftlint

            - name: Run SwiftLint
              run: swiftlint lint --reporter github-actions-logging
